.tab-app {
  position: relative;
  width: 100%;
  background-color: $white;
  display: block;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 380px;
  @include media-breakpoint-down(sm) {
    max-width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .nav-tabs {
    border: none;
    .nav-item {
      flex: 0 0 50%;
      max-width: 50%;
      .nav-link {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: .75rem;
        cursor: pointer;
        border: none;
        height: 48px;
        line-height: 48px;
        border-radius: 0;
        padding: 0;
        text-align: center;
        margin-bottom: 0;
        color: #939597;
        border-bottom: 1px solid #e7e7e7;
        background-color: rgba(217, 217, 217, .2);
        transition: all .3s cubic-bezier(.25, .46, .45, .94);
        &.active {
          color: $primary;
          border-bottom-color: $primary;
          background-color: $white;
        }
      }
    }
  }
  .tab-content {
    padding: 2rem;
    @include media-breakpoint-down(sm) {
      padding: 1.5rem 1.5rem 3.125rem;
    }
    .dfx-form {
      .label-group {
        h6,
        label {
          @include media-breakpoint-down(sm) {
            font-size: .75rem;
          }
        }
      }
      .total-loan {
        h6 {
          @include media-breakpoint-down(sm) {
            font-size: .875rem;
          }
        }
      }
    }
  }
}

.currency-slider {
  position: relative;
  .btn-slider {
    width: 24px;
    min-width: 24px;
    font-family: 'Montserrat', sans-serif;
    height: 24px;
    border-radius: .125rem;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    color: #e7e7e7;
    border: 1px solid #e7e7e7;
    margin: 0;
    padding: 0;
    box-shadow: none;
    outline: none;
    transition: all .3s cubic-bezier(.25, .46, .45, .94);
    &:hover,
    &.active {
      color: $white;
      border-color: $primary;
      background-color: $primary !important;
      box-shadow: none !important;
    }
  }
}

.total-loan {
  display: flex;
  justify-content: space-between;
  h6 {
    display: block;
    margin-bottom: 0;
    @media (min-width: 1400px) {
      font-size: 1rem;
    }
    @media (min-width: 1200px) {
      font-size: .875rem;
    }
    & > span {
      display: block;
      font-size: .625rem;
      color: #939597;
      font-weight: 400;
      height: 16px;
      line-height: 16px;
    }
    b {
      display: block;
      margin-top: .25rem;
    }
    button {
      display: flex;
      color: $primary;
      align-items: center;
      justify-content: flex-end;
      font-size: .625rem;
      padding: 0;
      border: none;
      border-radius: 0;
      span {
        color: inherit;
      }
    }
  }
}

.info-icon {
  display: flex;
  svg {
    color: #838383;
    font-size: .875rem;
    margin-left: .25rem;
  }
}

.borrower {
  position: relative;
  & > h5 {
    display: block;
  }
  & > p {
    font-family: 'Montserrat', sans-serif;
    font-size: .8125rem;
  }
  & > img {
    margin: 2rem auto;
    max-width: 156px;
    display: block;
  }
}

.pay-schedule {
  max-width: 480px;
  .modal-body {
    padding: 2rem;
    h5 {
      font-size: 1.375rem;
      margin-bottom: 1.5rem;
    }
    .info__payment {
      padding: 0;
      list-style: none;
      margin: 0 0 1rem;
      display: flex;
      justify-content: space-between;
      li {
        font-size: .625rem;
        font-weight: 700;
        color: #939597;
        span {
          display: block;
          font-size: .875rem;
          color: #464646;
        }
      }
    }
    & > p {
      color: #1c1c1c;
      font-size: .875rem;
    }
    .flow__payment {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        position: relative;
        padding-left: 2.125rem;
        padding-top: .2rem;
        margin-bottom: .5rem;
        &:last-child {
          margin-bottom: 0;
        }
        em {
          width: 25px;
          height: 25px;
          display: block;
          background-color: rgba(120, 92, 205, .25);
          border-radius: 100%;
          text-align: center;
          line-height: 25px;
          font-style: normal;
          font-size: .75rem;
          position: absolute;
          top: 0;
          left: 0;
          color: $white;
        }
        p {
          color: $primary;
          font-size: .75rem;
          margin-bottom: 0;
          font-weight: 600;
          b {
            color: #1c1c1c;
          }
        }
        span {
          color: #939597;
          font-size: .625rem;
          font-weight: 600;
        }
      }
    }
    .reminder {
      position: relative;
      border-radius: 30px;
      padding: .5rem .5rem .5rem 6.25rem;
      color: #303030;
      background: rgba(0,200,220,.1);
      margin-top: 2rem;
      box-shadow: 0 10px 30px #00000014;
      img {
        position: absolute;
        bottom: 0;
        left: 1.75rem;
        width: 56px;
      }
      p {
        margin-bottom: 0;
        font-size: 11px;
        font-weight: 700;
        color: #303030;
      }
    }
  }
}

.otp-sms-modal  {
  max-width: 480px;
  .modal-body {
    padding: 2rem;
    h5 {
      font-size: 1.375rem;
      margin-bottom: 1.5rem;
      margin-top: 1rem;
    }
    p {
      font-size: .875rem;
      margin-bottom: 1.5rem;
    }
  }
}
