.articles {
  position: relative;
  z-index: 5;
  .swiper-container {
    width: 100%;
    height: 100%;
    max-height: 570px;
    padding-right: 1.5rem;
    margin-top: 2rem;
  }
  .swiper-slide {
    height: auto;
    box-sizing: border-box;
    padding: 30px;
  }
  .swiper-scrollbar {
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    z-index: 50 !important;
    width: .5rem !important;
    height: 100% !important;
    background: #f7f7f7 !important;
    .swiper-scrollbar-drag {
      background: #D9D1FC;
    }
  }
  .article__item {
    position: relative;
    overflow: hidden;
    padding: 0;
    &:hover {
      .image-wrap {
        .image {
          transform: scale(1.1);
        }
      }
    }
    .image-wrap {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      width: 100%;
      height: 145px;
      background-color: #674f4f;
      z-index: 1;
      overflow: hidden;
      display: block;
      .image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        transform: scale(1);
        transition: transform 0.4s ease-in-out;
      }
    }
    .captions {
      display: block;
      background-color: $white;
      padding: 1rem 0;
      h4 {
        margin-bottom: .5rem;
        font-size: 1.125rem;
        font-weight: 500;
        a {
          display: inline-block;
          color: #171717;
          text-decoration: none;
          transition: color .3s ease;
          &:hover {
            color: $primary;
          }
        }
      }
      .meta {
        font-weight: 500;
        font-size: .875rem;
        display: block;
        color: #666;
        a {
          color: #0FA0AE;
        }
      }
    }
  }
}
