.customer-service {
  position: relative;
  h2 {
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: -.9px;
    color: $darker;
    margin: 1rem 0;
    line-height: 1.2;
    &:hover {
      text-decoration: underline;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  .work-hours {
    color: #939597;
    display: block;
  }
  .mail-link {
    font-size: 12px;
    line-height: 2.08;
    letter-spacing: -.07px;
    color: $darker;
    font-weight: 700;
    text-decoration: underline;
  }
}
