.follow-us {
  @include media-breakpoint-down(xs) {
    margin-top: 1rem;
  }
}

.social-media {
  position: relative;
  display: flex;
  margin-bottom: 1.5rem;
  @include media-breakpoint-down(sm) {
    margin-bottom: 1rem;
  }
  .btn {
    width: 42px;
    height: 42px;
    padding: 0;
    font-size: 1.25rem;
    line-height: 36px;
    border-radius: 100%;
    border: 2px solid #cecece;
    color: #cecece;
    font-weight: 400;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &.btn--facebook {
      transition: all .3s ease;
      &:hover {
        color: $white;
        background-color: #4267B2;
        border-color: #4267B2;
      }
    }
    &.btn--instagram {
      transition: all .3s ease;
      &:hover {
        color: $white;
        background-color: #8a3ab9;
        border-color: #8a3ab9;
      }
    }
  }
}

.btn {
  &.btn--playstore {
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
    transition: opacity .3s ease;
    &:hover {
      opacity: .75;
    }
    img {
      max-width: 136px;
      display: block;
    }
  }
}
