.recent-posts {
  position: relative;
  width: 100%;
  .recent__item {
    display: flex;
    position: relative;
    overflow: hidden;
    margin-bottom: 1.5rem;
    &:hover {
      .image-wrap {
        .image {
          transform: scale(1.1);
        }
      }
    }
    .image-wrap {
      position: relative;
      width: 64px;
      min-width: 64px;
      height: 64px;
      overflow: hidden;
      .image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        transform: scale(1);
        transition: transform 0.4s ease-in-out;
      }
    }
    .captions {
      position: relative;
      z-index: 2;
      display: block;
      background-color: $white;
      padding: .25rem .5rem;
      width: 100%;
      h4 {
        margin-bottom: .25rem;
        font-size: .8125rem;
        font-weight: 500;
        a {
          display: inline-block;
          color: #171717;
          text-decoration: none;
          transition: color .3s ease;
          &:hover {
            color: $primary;
          }
        }
      }
      .meta {
        margin-bottom: .25rem;
        font-size: .8125rem;
        font-weight: 500;
        color: #666666;
        a {
          color: #0FA0AE;
          font-weight: 600;
        }
      }
    }
  }
}
