.btn {
  font-family: $primary-font;
  font-size: .875rem;
  border-radius: 30px;
  outline: none !important;
  box-shadow: none !important;
  &.btn-primary {
    background: rgb(79, 98, 222);
    background: linear-gradient(0deg, rgba(79, 98, 222, 1) 0%, rgba(121, 92, 204, 1) 100%); 
  }
  &.btn-outlined {
    border: 1px solid $primary;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    color: $primary;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    transition: all .3s ease;
    @include media-breakpoint-down(xs) {
      padding: 0.5rem 1rem;
    }
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
  &.btn-lg {
    padding: .875rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 3.125rem;
  }
  &.btn--messager {
    display: inline-flex;
    font-weight: 500;
    text-decoration: none;
    padding: .75rem 1.5rem;
    @include media-breakpoint-down(sm) {
      padding: .75rem 1rem;
      font-size: .75rem;
    }
    svg {
      font-size: 1.25rem;
      margin-right: .5rem;
      @include media-breakpoint-down(sm) {
        font-size: 1rem;
      }
    }
  }
}

.btn-scrolltop {
  position: fixed;
  right: 32px;
  bottom: 32px;
  width: 42px;
  height: 42px;
  padding: 0;
  border-radius: .5rem;
  border: none;
  font-size: 1.125rem;
  line-height: 32px;
  z-index: 100;
  background-color: $darker;
  animation: fadeInBtn .3s;
  transition: all .3s ease-in-out;
  box-shadow: 0 16px 24px 0 rgba(78, 78, 78, .1) !important;
  &:hover {
    background-color: $primary;
  }
  svg {
    position: relative;
    top: -1px;
  }
}

@keyframes fadeInBtn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.btn-close-modal {
  position: absolute;
  z-index: 10;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  background-color: $primary;
  color: $white !important;
  padding: 0;
  line-height: 36px;
  box-shadow: -3px 2px 10px #785ccd7d !important;
}
