.form-group {
  margin-bottom: 1.5rem;
}

label {
  font-size: 1rem;
  color: #383839;
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.875em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #495057;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid #6A5ED2;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out, box-shadow .3s ease-in-out;
  &:focus {
    background-color: #f6f7fa;
    border-color: transparent;
    box-shadow: 0 1px 6px rgba(186, 184, 184, .5);
  }
}
.otp-wrap {
  display: flex;
  align-items: center;
  & > a {
    margin-left: 1.5rem;
    display: inline-block;
    text-decoration: underline;
  }
}

.otp-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  .otp__item {
    display: flex;
    max-width: 20%;
    flex: 0 0 20%;
    min-height: 80px;
    background-color: $white;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 6px rgba(186, 184, 184, .5);
    input {
      display: block;
      width: 100%;
      font-size: 2rem;
      border: none;
      outline: none;
      box-shadow: none;
      text-align: center;
      font-weight: 700;
      background-color: $white;
      transition: background-color .3s ease-in-out;
      &::-webkit-input-placeholder {
        color: #d8d8d8;
      }
      &:-ms-input-placeholder {
        color: #d8d8d8;
      }
      &::placeholder {
        color: #d8d8d8;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &[type=number] {
        -moz-appearance: textfield;
      }
    }
  }
}

.v2-checkbox__input {
  margin-bottom: 0 !important;
}