.route-section {
  @include media-breakpoint-down(lg) {
    padding-top: 60px;
  }
}

.container {
  padding-left: .9375rem;
  padding-right: .9375rem;
}

.section {
  position: relative;
  overflow: hidden;
  padding: 3.125rem 0;
}

.wrapper {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  max-width: 1100px;
  &.wrapper--lg {
    max-width: 1364px;
  }
}

.main-card {
  position: relative;
  width: 100%;
  padding: 4rem;
  background-color: $white;
  box-shadow: $shadow-lg;
}

.inner-box {
  position: relative;
  background-color: $white;
  padding: 4rem;
  border-radius: 1rem;
  box-shadow: $shadow-lg;
  @include media-breakpoint-down(md) {
    padding: 2rem;
  }
  &.inner-box--sm {
    padding: 4rem 2.5rem;
    @include media-breakpoint-down(md) {
      padding: 2rem;
    }
  }
}

.hero-banner {
  position: relative;
  width: 100%;
  min-height: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: -3rem;
  @include media-breakpoint-down(sm) {
    min-height: 100px;
  }
}

.list-styled {
  padding-left: 1.375rem;
  li {
    margin-bottom: 1rem;
    color: $primary;
    p {
      margin-bottom: 0;
      font-size: 1rem;
      @include media-breakpoint-down(sm) {
        font-size: .875rem;
      }
    }
  }
}

.widget {
  position: relative;
  display: block;
  & > h6 {
    font-size: .6875rem;
    font-weight: 700;
    line-height: 1.45;
    color: $secondary;
    margin-bottom: 1rem;
    @include media-breakpoint-down(sm) {
      margin-bottom: .5rem;
    }
  }
  & > h5 {
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.45;
    color: #2b2b2b;
    text-transform: uppercase;
    margin-bottom: 1rem;
    letter-spacing: 4px;
    display: inline-block;
    background-color: $white;
    padding-right: .5rem;
    &::before {
      content: '';
      position: absolute;
      top: 13px;
      width: 100%;
      height: 1px;
      background-color: #d8d8d8;
      z-index: -1;
    }
  }
  & > p {
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.83;
    margin-bottom: 0;
  }
}

.divider {
  width: 100%;
  margin: 1.5rem 0;
  border-top: 1px solid #939597;
}

.tooltip-inner {
  max-width: 320px;
  background-color: $white;
  color: #303030;
  font-size: .875rem;
  font-weight: 700;
  border: 1px solid #e7e7e7;
  @media (min-width: 1400px) {
    max-width: 320px;
    font-size: .875rem;
  }
  @media (min-width: 1200px) {
    max-width: 260px;
    font-size: .75rem;
  }
}
.bs-tooltip-left .arrow::before,
.bs-tooltip-auto[x-placement^="left"] .arrow::before {
  right: 0;
  border-width: 0.4rem 0.4rem 0.4rem 0;
  border-right-color: $white;
}

.modal-backdrop.show {
  opacity: 0.9;
}

.footer-stick {
  margin-bottom: -3.125rem;
}

.side-nav {
  .nav-item {
    padding: 1rem .5rem;
    .nav-link {
      display: inline-block;
      &:hover {
        .icon {
          opacity: .5;
        }
      }
      &.active {
        .icon {
          opacity: 1 !important;
          &.icon--dashboard {
            background-image: url('../../../../public/images/icons/dashboard_hover.svg');
          }
          &.icon--portfolio {
            background-image: url('../../../../public/images/icons/portfolio_hover.svg');
          }
          &.icon--funding {
            background-image: url('../../../../public/images/icons/funding_hover.svg');
          }
          &.icon--flow {
            background-image: url('../../../../public/images/icons/flow_hover.svg');
          }
        }
        h6 {
          color: $primary;
        }
      }
      .icon {
        margin: 0 auto;
        opacity: 1;
        transition: opacity .3s ease-in-out;
      }
      h6 {
        margin-bottom: 0;
        font-size: .875rem;
        margin-top: .5rem;
        color: #747272;
        text-align: center;
        line-height: 1.4;
      }
    }
  }
}

// .side-content {
//   position: relative;
//   width: 100%;
//   padding: 2rem;
//   border-radius: .5rem;
//   background-color: $white;
//   box-shadow: $shadow-lg;
//   & > h5 {
//     small {
//       display: block;
//       font-size: .75rem;
//       margin-bottom: .5rem;
//     }
//     b {
//       color: $primary;
//     }
//   }
// }

.chart-dashboard {
  position: relative;
  width: 100%;
  margin-top: 2rem;
  .chart__info {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      padding-left: 1.5rem;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
      .dot {
        position: absolute;
        top: 6px;
        left: 0;
        width: 12px;
        height: 12px;
        border-radius: 100%;
      }
      h5 {
        margin-bottom: 0;
        font-size: 1.125rem;
        line-height: 1.4;
        font-weight: 700;
        small {
          display: block;
          color: #727272;
          margin-top: .25rem;
        }
      }
    }
  }
}

.saldo-chart-wrap {
  position: relative;
  .chartjs-render-monitor {
    position: relative;
    z-index: 2;
  }
  .info__saldo {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    span {
      display: block;
      font-size: .875rem;
      font-weight: 400;
    }
  }
}

// .dashboard-title {
//   position: relative;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   h5 {
//     display: block;
//     margin-bottom: 0;
//     font-weight: 700;
//   }
//   small {
//     display: block;
//     font-size: .75rem;
//     margin-top: .5rem;
//   }
// }

.table-dashboard {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: .5rem;
  margin-bottom: 2rem;
  box-shadow: $shadow-lg;
  .table {
    width: 100%;
    background-color: $white;
    margin-bottom: 0;
    tr {
      transition: all .3s ease-in-out;
      &:hover {
        background-color: rgba(108, 79, 201, .075);
      }
    }
    th,
    td {
      font-size: .75rem;
      padding: .5rem;
      text-align: center;
      vertical-align: middle;
    }
    th {
      background-color: $primary;
      color: $white;
      font-weight: 400;
      border-bottom: none;
      border-right: 1px solid #d8d8d8;
      &:last-child {
        border-right: none;
      }
    }
    td {
      font-size: .75rem;
      font-weight: 600;
      border-top: none;
      border-right: 1px solid #d8d8d8;
      &:last-child {
        border-right: none;
      }
      .download {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #383839;
        text-decoration: none;
        text-align: left;
        &:hover {
          color: $primary;
          i {
            background-image: url('../../../../public/images/icons/download_hover.svg');
          }
        }
      }
    }
  }
}

.nav-wrapper {
  max-width: 526px;
  display: block;
  margin: 0 auto;
}

.pagination {
  position: relative;
  .page-item {
    display: block;
    &.active {
      .page-link {
        color: $white;
      }
    }
    &:first-child {
      .page-link {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-left: none;
      }
    }
    &:last-child {
      .page-link {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
    }
    .page-link {
      padding: .375rem 1.25rem;
      font-size: .875rem;
      line-height: 1.5;
      color: #909090;
      border: none;
      border-left: 1px solid #e5e3e3;
    }
  }
}

.pagination-arrows {
  .page-item {
    display: block;
    &:first-child {
      .page-link {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }
    }
    &:last-child {
      .page-link {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
    }
    .page-link {
      padding: .375rem 1.25rem;
      font-size: .875rem;
      line-height: 1.5;
      color: #909090;
      border: none;
      display: flex;
      align-items: center;
    }
  }
}

.investment-modal {
  .modal-content {
    .modal-body {
      padding: 3rem;
      .close {
        position: absolute;
        z-index: 10;
        right: 1.5rem;
        top: 1.5rem;
      }
      & > h5 {
        color: $primary;
        font-weight: 700;
        text-align: center;
      }
      & > p {
        font-size: .875rem;
        text-align: center;
        margin-bottom: 1.5rem;
      }
      form {
        width: 100%;
        margin-bottom: 0;
        .otp-input-modal {
          position: relative;
          a {
            position: absolute;
            right: 12px;
            top: 0;
            bottom: 0;
            font-size: .75rem;
            height: 44px;
            line-height: 44px;
          }
        }
        .form-text {
          display: block;
          text-align: center;
          margin-top: .5rem;
          font-size: .75rem;
        }
        button {
          width: 100%;
          padding: 0.625rem 0.75rem;
        }
      }
    }
  }
}

.investment-succeed {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .desc {
    padding: 4rem;
    text-align: center;
    h5 {
      display: block;
      font-size: 1.5rem;
      color: $primary;
    }
    .trophy {
      width: 100%;
      max-width: 280px;
      margin: 1rem auto .25rem;
      display: block;
    }
    p {
      color: $black;
      margin-bottom: 0;
      font-size: .875rem;
    }
  }
  .bg-sprinkles {
    width: 90%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    display: block;
    pointer-events: none;
    backface-visibility: hidden;
  }
}

#portfolioTable {
  height: 700px;
}
