.text-primary {
  color: $primary !important;
}
.text-secondary {
  color: $secondary !important;
}
.text-dark {
  color: $dark !important;
}
.text-danger {
  color: #dc3545 !important;
}

.bg--color {
  background-color: #F5F7FB;
}
.bg--transparent {
  background-color: transparent;
}

.rounded {
  border-radius: 30px !important;
}

.mt-5 {
  @include media-breakpoint-down(xs) {
    margin-top: 1.5rem !important;
  }
}
.mb-5 {
  @include media-breakpoint-down(xs) {
    margin-bottom: 1.5rem !important;
  }
}

.z-index-1 {
  z-index: -1;
}
