.icon {
  display: block;
  width: 48px;
  height: 48px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  &.icon--tiny {
    width: 18px;
    height: 18px;
  }
  &.icon-arrow {
    width: 26.6px;
    height: 12px;
  }
  &.icon--dashboard {
    background-image: url('../../../../public/images/icons/dashboard.svg');
  }
  &.icon--portfolio {
    background-image: url('../../../../public/images/icons/portfolio.svg');
  }
  &.icon--funding {
    background-image: url('../../../../public/images/icons/funding.svg');
  }
  &.icon--flow {
    background-image: url('../../../../public/images/icons/flow.svg');
  }
  &.icon--download {
    background-image: url('../../../../public/images/icons/download.svg');
  }
  &.icon--prev {
    background-image: url('../../../../public/images/icons/prev.svg');
  }
  &.icon--next {
    background-image: url('../../../../public/images/icons/next.svg');
  }
}