.v2-table-fixed {
  box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
}

.v2-table__cell {
  padding: .5rem !important;
  &.v2-table__column-cell {
    color: $white !important;
    white-space: normal !important;
    background-color: $primary !important;
  }
}

.v2-checkbox-list-wrap {
  &.wrap-border {
    border-left: none !important;
    border-right: none !important;
  }
}

.v2-checkbox__input {
  &.is-checked {
    .v2-checkbox__inner {
      border: 1px solid #04c8dc !important;
    }
  }
  &.is-indeterminate {
    .v2-checkbox__inner {
      background-color: #04c8dc !important;
      border: 1px solid #04c8dc !important;
    }
  }
}

.v2-checkbox__inner {
  &::after {
    border: 1px solid #04c8dc !important;
    border-left: 0 !important;
    border-top: 0 !important;
  }
}

.v2-checkbox-item {
  &.checked-all {
    background-color: #6c4fc9 !important;
    .v2-checkbox__input {
      border-radius: .125rem !important;
    }
  }
}

.table-download {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #383839;
  text-decoration: none;
  text-align: left;
}

.v2-table__body td .cell, 
.v2-table__footer td .cell {
  font-weight: 600 !important;
  color: #000 !important;
}