h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
  font-weight: 600;
  color: $darker;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
  @include media-breakpoint-down(sm) {
    font-size: 1.875rem;
  }
}

h2 {
  font-size: 2rem;
  @include media-breakpoint-down(sm) {
    font-size: 1.5625rem;
  }
}

h3 {
  font-size: 1.875rem;
  @include media-breakpoint-down(sm) {
    font-size: 1.375rem;
  }
}
h4 {
  font-size: 1.5625rem;
  @include media-breakpoint-down(sm) {
    font-size: 1.25rem;
  }
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
  color: $dark;
  font-weight: 300;
  @include media-breakpoint-down(sm) {
    font-size: .875rem;
  }
}

b {
  font-weight: 700;
}

strong {
  font-weight: 900;
}

.heading {
  margin-bottom: 2rem;
  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
  }
}
.heading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $primary-font;
    color: $darker;
    margin-bottom: 0;
    font-weight: 600;
  }
  .subtitle {
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 2px;
    color: $secondary;
    text-transform: uppercase;
    @include media-breakpoint-down(sm) {
      font-size: .875rem;
      line-height: 1.8;
      letter-spacing: 1px;
    }
  }
  small {
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: .5px;
    display: block;
    margin-top: .5rem;
    @include media-breakpoint-down(xs) {
      font-size: .625rem;
    }
  }
}

.page-title {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  min-height: 250px;
  display: flex;
  align-items: center;
  @include media-breakpoint-down(sm) {
    min-height: 150px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  h1 {
    @include media-breakpoint-down(sm) {
      max-width: 150px;
    }
  }
}
