<template>
  <app-layout>
    <div id="cashflow" class="section bg--color py-10">
      <div class="container">
        <div class="grid grid-cols-12 gap-0 lg:gap-6">
          <div class="col-span-12 lg:col-span-2">
            <jet-nav-side />
          </div>
          <div class="col-span-12 lg:col-span-10">
            <div class="relative w-full py-3 px-4 rounded-lg flex items-center justify-between bg-white text-left shadow-dark mb-7">
              <h5 class="block text-2xl text-primary font-bold leading-snug">Arus Kas Saya</h5>
            </div>
            <div class="table-responsive table-dashboard">
              <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th scope="col">Tanggal</th>
                    <th scope="col">Kategori</th>
                    <th scope="col">Tipe</th>
                    <th scope="col">Nomor Kontrak</th>
                    <th scope="col">Jumlah Nilai</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>24.06.2021</td>
                    <td>Pencairan Pinjaman</td>
                    <td>Arus Keluar <span class="text-danger">&#x21cA;</span></td>
                    <td>1232</td>
                    <td>Rp 12.450.000</td>
                  </tr>
                  <tr>
                    <td>24.06.2021</td>
                    <td>Pembayaran Pinjaman Pokok</td>
                    <td>Arus Masuk <span class="text-success">&#x21c8;</span></td>
                    <td>1201</td>
                    <td>Rp 12.450.000</td>
                  </tr>
                  <tr>
                    <td>24.06.2021</td>
                    <td>Biaya Pinjaman</td>
                    <td>Arus Masuk <span class="text-success">&#x21c8;</span></td>
                    <td>1201</td>
                    <td>Rp 12.450.000</td>
                  </tr>
                  <tr>
                    <td>24.06.2021</td>
                    <td>Pinjaman Pokok dilunasi</td>
                    <td>Arus Masuk <span class="text-success">&#x21c8;</span></td>
                    <td>1102</td>
                    <td>Rp 12.450.000</td>
                  </tr>
                  <tr>
                    <td>24.06.2021</td>
                    <td>Pinjaman Pokok dilunasi</td>
                    <td>Arus Masuk <span class="text-success">&#x21c8;</span></td>
                    <td>1102</td>
                    <td>Rp 12.450.000</td>
                  </tr>
                  <tr>
                    <td>24.06.2021</td>
                    <td>Pinjaman Pokok dilunasi</td>
                    <td>Arus Masuk <span class="text-success">&#x21c8;</span></td>
                    <td>1102</td>
                    <td>Rp 12.450.000</td>
                  </tr>
                  <tr>
                    <td>24.06.2021</td>
                    <td>Pinjaman Pokok dilunasi</td>
                    <td>Arus Masuk <span class="text-success">&#x21c8;</span></td>
                    <td>1102</td>
                    <td>Rp 12.450.000</td>
                  </tr>
                  <tr>
                    <td>24.06.2021</td>
                    <td>Pinjaman Pokok dilunasi</td>
                    <td>Arus Masuk <span class="text-success">&#x21c8;</span></td>
                    <td>1102</td>
                    <td>Rp 12.450.000</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <nav class="nav-wrapper" aria-label="Page navigation example">
              <ul class="pagination pagination-sm justify-center">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">7</a></li>
                <li class="page-item"><a class="page-link" href="#">8</a></li>
                <li class="page-item"><a class="page-link" href="#">9</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
              <ul class="pagination pagination-arrows pagination-sm justify-between mt-4">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <i class="icon icon-arrow icon--prev mr-2"></i> Sebelumnya
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    Selanjutnya <i class="icon icon-arrow icon--next ml-2"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout';
import JetNavSide from '@/Jetstream/NavSide';

export default {
  components: { 
    AppLayout, 
    JetNavSide, 
  }
}
</script>
