<template>
  <app-layout>
    <div id="dashboard" class="section bg--color py-10">
      <div class="container">
        <div class="grid grid-cols-12 gap-0 lg:gap-6">
          <div class="col-span-12 lg:col-span-2">
            <jet-nav-side />
          </div>
          <div class="col-span-12 lg:col-span-10">
            <div class="w-full p-8 rounded-lg bg-white text-left shadow-dark">
              <h5><small class="block text-xs mb-2">SALDO SAYA</small> <b class="block text-2xl text-primary leading-snug">Portofolio Saya</b></h5>
              <p class="mt-1">Berikut adalah saldo Anda saat ini dan rencana pendanaan aktif Anda.</p>
              <div class="relative p-6 mt-8 rounded-lg bg-pattern shadow-sm">
                <div class="grid grid-cols-12 gap-4">
                  <div class="col-span-12 md:col-span-6 lg:col-span-4">
                    <h6 class="text-sm font-medium text-primary mb-1">Total Investasi</h6>
                    <p class="text-2xl font-bold text-black mb-0">
                      <!-- Rp <countTo :startVal='totalInvestment.startVal' :endVal='totalInvestment.endVal' :duration='2000'></countTo> -->
                      Rp 12.458.120
                    </p>
                  </div>
                  <div class="col-span-12 md:col-span-6 lg:col-span-8">
                    <h6 class="text-sm font-medium text-primary mb-1">Pembayaran Kembali Pinjaman Pokok</h6>
                    <p class="text-2xl font-bold text-black mb-0">
                      <!-- Rp <countTo :startVal='rePayment.startVal' :endVal='rePayment.endVal' :duration='2000'></countTo> -->
                      Rp 26.705.000
                    </p>
                  </div>
                </div>
              </div>
              <div class="relative p-6 mt-8 rounded-lg bg-pattern shadow-sm">
                <div class="grid grid-cols-12 gap-4">
                  <div class="col-span-12 md:col-span-6 lg:col-span-4">
                    <h6 class="text-sm font-medium text-primary mb-1">Total Biaya Pemberi Pinjaman</h6>
                    <p class="text-2xl font-bold text-black mb-0">
                      <!-- Rp <countTo :startVal='totalLender.startVal' :endVal='totalLender.endVal' :duration='2000'></countTo> -->
                      Rp 10.695.000
                    </p>
                  </div>
                  <div class="col-span-12 md:col-span-6 lg:col-span-8">
                    <h6 class="text-sm font-medium text-primary mb-1">Sisa Pembayaran</h6>
                    <p class="text-2xl font-bold text-black mb-0">
                      <!-- Rp <countTo :startVal='paymentLeft.startVal' :endVal='paymentLeft.endVal' :duration='2000'></countTo> -->
                      Rp 32.765.980
                    </p>
                  </div>
                </div>
              </div>
              <div class="chart-dashboard">
                <div class="grid grid-cols-12 gap-4">
                  <div class="col-span-12 md:col-span-6 lg:col-span-5">
                    <div class="saldo-chart-wrap w-full md:w-11/12">
                      <jet-chart-balance />
                      <div class="info__saldo">
                        12.560.450 <span>Jumlah Saldo</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-span-12 md:col-span-6 lg:col-span-7">
                    <select name="saldoData" id="saldoData" class="form-control d-inline-flex mb-4 md:mb-8">
                      <option value="0">Data 1</option>
                      <option value="1">Data 2</option>
                      <option value="2">Data 3</option>
                    </select>
                    <ul class="chart__info">
                      <li>
                        <span class="dot" style="background-color: #123F86;"></span>
                        <h5>50% <small>Pembayaran Kembali Pinjaman Pokok</small></h5>
                      </li>
                      <li>
                        <span class="dot" style="background-color: #6A52CD;"></span>
                        <h5>30% <small>Total Biaya Pemberi Pinjaman</small></h5>
                      </li>
                      <li>
                        <span class="dot" style="background-color: #00C8DC;"></span>
                        <h5>20% <small>Sisa Pembayaran</small></h5>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout';
import JetChartBalance from '@/Jetstream/ChartBalance';
import JetNavSide from '@/Jetstream/NavSide';
// import countTo from 'vue-count-to/src/vue-countTo'

export default {
  components: { 
    AppLayout, 
    JetChartBalance, 
    JetNavSide, 
    // countTo, 
  },
  data () {
    return {
      // totalInvestment: { startVal: 100000, endVal: 12458120 }, 
      // rePayment: { startVal: 100000, endVal: 26705000 }, 
      // totalLender: { startVal: 100000, endVal: 12458120 }, 
      // paymentLeft: { startVal: 100000, endVal: 26705000 }, 
    }
  },
}
</script>
