<template>
  <app-layout>
    <div id="funding" class="section bg--color py-10">
      <div class="container">
        <div class="grid grid-cols-12 gap-0 lg:gap-6">
          <div class="col-span-12 lg:col-span-2">
            <jet-nav-side />
          </div>
          <div class="col-span-12 lg:col-span-10">
            <div class="relative w-full py-3 px-4 rounded-lg flex items-center justify-between bg-white text-left shadow-dark mb-7">
              <h5 class="block text-2xl text-primary font-bold leading-snug">Peluang Pendanaan <small class="block text-dark text-sm font-medium mb-0">Pilih aplikasi yang ingin Anda danai.</small></h5>
              <a href="#" class="bg-gray text-dark py-2 px-8 rounded-full transition shadow" data-toggle="modal" data-target="#investasiModal">Beri Pendanaan</a>
            </div>
            <div class="flex flex-wrap">
              <div class="w-full">
                <ul class="flex mb-6 list-none flex-wrap flex-row">
                  <li class="-mb-px mr-5 last:mr-0 flex-auto text-center">
                    <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal cursor-pointer" v-on:click="toggleTabs(1)" v-bind:class="{'text-dark bg-white': openTab !== 1, 'text-white bg-tertiary': openTab === 1}">
                      Aplikasi
                    </a>
                  </li>
                  <li class="-mb-px mr-0 last:mr-0 flex-auto text-center">
                    <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal cursor-pointer" v-on:click="toggleTabs(2)" v-bind:class="{'text-dark bg-white': openTab !== 2, 'text-white bg-tertiary': openTab === 2}">
                      Kontrak
                    </a>
                  </li>
                </ul>
                <div class="relative flex flex-col min-w-0 break-words w-full">
                  <div class="tab-content tab-space">
                    <div v-bind:class="{'hidden': openTab !== 1, 'block': openTab === 1}">
                      <jet-table-application />
                    </div>
                    <div v-bind:class="{'hidden': openTab !== 2, 'block': openTab === 2}">
                      <jet-table-portfolio />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal investment-modal fade" id="investasiModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h5>Masukkan kode dari SMS</h5>
              <p>Untuk mengkonfirmasi permintaan investasi Anda dan membiayai kontrak ini</p>
              <!-- <Form v-slot="{ errors }">
                <div class="mb-6">
                  <div class="otp-input-modal">
                    <Field name="field" :rules="isRequired" class="form-control" />
                    <input type="text" class="form-control" placeholder="Masukkan Kode SMS..." />
                    <a href="#">Kirim Ulang SMS</a>
                  </div>
                </div>
                
                <span>{{ errors.field }}</span>
              </Form> -->
              <form action="#">
                <div class="form-group">
                  <div class="otp-input-modal">
                    <input type="text" class="form-control" placeholder="Masukkan Kode SMS..." />
                    <a href="#">Kirim Ulang SMS</a>
                  </div>
                  <small class="form-text text-danger">Kode tidak valid. Silakan coba sekali lagi atau kirim ulang Kode melalui SMS</small>
                </div>
                <button type="submit" class="btn btn-primary d-block">Konfirmasi dan Cairkan</button>
              </form>

              <!-- If user has subbmited, show the code below -->
              <!-- <div class="investment-succeed d-none">
                <div class="desc">
                  <h5>Berhasil!</h5>
                  <img :src="trophy" class="trophy" alt="trophy" />
                  <p>Investasi Anda disetujui dan dicairkan. Silahkan lihat di bagian portofolio</p>
                </div>
                <img :src="sprinkles" class="bg-sprinkles" alt="sprinkles" />
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout';
import JetNavSide from '@/Jetstream/NavSide';
import JetTableApplication from '@/Jetstream/TableApplication';
import JetTablePortfolio from '@/Jetstream/TablePortfolio';

export default {
  components: { 
    AppLayout, 
    JetNavSide, 
    JetTableApplication, 
    JetTablePortfolio, 
  },
  data() { 
    return { 
      trophy: '/images/illustrations/trophy.svg', 
      sprinkles: '/images/illustrations/sprinkles.svg',
      openTab: 1
    }
  },
  methods: {
    toggleTabs: function(tabNumber){
      this.openTab = tabNumber
    }
  }
}
</script>
