<template>
  <app-layout>
    <div id="myPortfolio" class="section bg--color py-10">
      <div class="container">
        <div class="grid grid-cols-12 gap-0 lg:gap-6">
          <div class="col-span-12 lg:col-span-2">
            <jet-nav-side />
          </div>
          <div class="col-span-12 lg:col-span-10">
            <div class="relative w-full py-3 px-4 rounded-lg flex items-center justify-between bg-white text-left shadow-dark mb-7">
              <h5 class="block text-2xl text-primary font-bold leading-snug">Portofolio Saya</h5>
            </div>
            <div>
              <jet-table-portfolio />
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout';
import JetNavSide from '@/Jetstream/NavSide';
import JetTablePortfolio from '@/Jetstream/TablePortfolio';

export default {
  components: { 
    AppLayout, 
    JetNavSide, 
    JetTablePortfolio, 
  },
}
</script>