<template>
  <app-layout>
    <div id="welcome" class="section bg--color">
      <div class="container">
        <div class="relative w-full py-10 lg:py-16 px-8 lg:px-16 bg-white shadow-dark">
          <div class="welcome-screen">
            <div class="grid grid-cols-4 gap-4">
              <div class="col-start-1 col-span-4">
                <h2 class="text-2xl lg:text-3xl text-primary text-center leading-snug"><b>Jadilah pemberi pinjaman dengan Danafix dan dapatkan keuntungan investasi bersama kami...</b></h2>
              </div>
            </div>
            <div class="max-w-screen-md mx-auto mt-6 sm:mt-8 md:mt-12">
              <p class="text-dark font-semibold">Kami memberikan kemudahan kepada Anda, untuk turut mendanai peminjam di Platform kami. Kami menawarkan pendanaan dengan persyaratan yang mudah, fleksibilitas untuk memilih profil peminjam yang Anda kehendaki, dengan perhitungan resiko yang terukur, beserta pilihan untuk memberikan jaminan atas pendanaan Anda. <b>Tertarik untuk menjadi pemberi pinjaman</b>?</p>
              <div class="grid grid-rows-2 grid-flow-col grid-cols-1 lg:grid-cols-2 gap-0 lg:gap-4 mt-6 sm:mt-8">
                <div class="row-start-2">
                  <p>Email ke <br /><a href="mailto:lender@danafix.id" class="inline-block text-primary" target="_blank"><b>lender@danafix.id</b></a> <br />untuk dapat infomasi atas peluang ini.</p>
                  <div v-if="canLogin">
                    <inertia-link v-if="$page.props.user" :href="route('dasbor')" class="inline-block bg-primary py-3 px-12 text-white no-underline hover:no-underline rounded-full font-semibold mt-4">
                      Pemberi Pinjaman Aktif
                    </inertia-link>
                    <template v-else>
                      <inertia-link :href="route('login')" class="inline-block bg-primary py-3 px-12 text-white no-underline hover:no-underline rounded-full font-semibold mt-4">
                        Pemberi Pinjaman Aktif
                      </inertia-link>
                    </template>
                  </div>
                </div>
                <div class="row-start-1 row-end-3">
                  <img :src="shareImg" class="w-full block mt-12" alt="share illustration" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout';

export default {
  props: {
    canLogin: Boolean,
  },
  components: {  
    AppLayout 
  },
  data () {
    return { 
      shareImg: '/images/illustrations/share.svg' 
    }
  }
}
</script>
