/*! 
 * Colors 
 */
$primary : #6C4FC9;
$secondary : #204caf;
$white : #ffffff;
$black : #171717;
$dark: #727272;
$darker: #464646;

/*! 
 * Fonts 
 */
$primary-font: 'Montserrat', sans-serif;

/*! 
 * Shadows
 */
$shadow-lg: 0 20px 80px rgba(0, 0, 0, .1);

/*! 
 * Border Radius
 */
$radius-xs: .25rem;
$radius-sm: .5rem;
$radius-md: 1rem;
$radius-lg: 1.5rem;
$radius-xl: 2rem;
 