footer {
  position: relative;
  width: 100%;
  background-color: #fafafa;
  padding: 3.125rem 0 1.565rem;
  .secureby {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
    .logo__item {
      display: flex;
      flex-direction: column;
      margin-right: 1rem;
      @include media-breakpoint-down(sm) {
        margin-right: 0;
        margin-bottom: 1rem;
      }
      &:last-child {
        img {
          max-width: 150px;
        }
      }
      span {
        color: #939597;
        display: block;
        font-size: .625rem;
        margin-bottom: .25rem;
      }
      img {
        max-width: 91px;
      }
    }
  }
  small {
    display: block;
    font-size: .5625rem;
    line-height: 1.89;
    letter-spacing: -.05px;
    color: #6b6b6b;
    text-align: justify;
  }
  ul {
    padding-left: 22px;
    li {
      font-size: .5625rem;
      line-height: 1.89;
      letter-spacing: -.05px;
      color: #6b6b6b;
      text-align: justify;
    }
  }
}

.copyrights {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .footer__logo {
    display: inline-block;
    img {
      max-width: 94px;
    }
  }
  .copyright-links {
    display: flex;
    a {
      display: block;
      margin-left: 1rem;
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: -.07px;
      color: $darker;
      @include media-breakpoint-down(sm) {
        margin-left: .5rem;
      }
    }
  }
}
