header {
  position: relative;
  width: 100%;
  min-height: 73px;
  background-color: $white;
  box-shadow: 0 2px 6px #cfcfcf;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media-breakpoint-down(lg) {
    position: fixed;
    top: 0;
    z-index: 1020;
    min-height: 64px;
    box-shadow: 0 2px 6px rgba(207, 207, 207, .35);
  }
}
