.navbar {
  width: 100%;
  padding: 0.5rem 0;
  @include media-breakpoint-down(lg) {
    padding: 0.5235rem 0;
  }
  .navbar-toggler {
    @include media-breakpoint-down(lg) {
      padding: 0.25rem 0.5rem;
      font-size: 1rem;
      border: none;
      border-radius: 0;
    }
  }
  .navbar-collapse {
    @include media-breakpoint-up(lg) {
      display: flex !important;
      flex-basis: auto;
      opacity: 1 !important;
      visibility: visible !important;
      height: 39px !important;
      transform: none !important;
    }
  }
  .show {
    .navbar-nav {
      @include media-breakpoint-down(lg) {
        left: 0;
      }
    }
  }
  .navbar-nav {
    @include media-breakpoint-down(lg) {
      position: fixed;
      top: 60px;
      left: -100%;
      z-index: 100;
      width: 100%;
      height: calc(100vh - 60px);
      padding: 1.5rem 0;
      background-color: $white;
      transition: left .4s ease-in-out;
    }
    .nav-item {
      @include media-breakpoint-down(lg) {
        padding: 0 1.5rem;
        border-bottom: 1px solid #f8f8f8;
      }
      .nav-link {
        color: #4f4e4f;
        font-family: $primary-font;
        font-size: .875rem;
        transition: color .3s ease;
        @include media-breakpoint-down(lg) {
          position: relative;
          font-size: 1rem;
          font-weight: 600;
          padding-bottom: 1rem;
          padding-top: 1rem;
        }
        @media (min-width: 1400px) {
          font-size: .875rem;
        }
        @media (min-width: 1200px) {
          font-size: .75rem;
          font-weight: 500;
          padding-right: 0.625rem;
          padding-left: 0.625rem;
        }
        &:hover,
        &.active {
          color: $primary;
        }
        svg {
          display: none;
          @include media-breakpoint-down(lg) {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            display: inline-block;
          }
        }
      }
    }
  }
}
