<template>
  <button :type="type" class="flex items-center bg-primary py-3 px-12 text-white no-underline hover:no-underline rounded-full font-semibold border border-transparent outline-none focus:outline-none disabled:opacity-25 transition">
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'submit',
    },
  }
}
</script>
