<template>
  <input 
    :value="value" 
    @input="$emit('input', $event.target.value)" 
    class="text-sm border-t-0 border-l-0 border-r-0 border-b-2 border-solid border-primary bg-light ring-0 focus:ring-0 outline-none shadow-none py-4" 
    ref="input" 
  />
</template>

<script>
export default {
  props: ['value'],
  methods: {
    focus() {
      this.$refs.input.focus()
    }
  }
}
</script>
