<template>
  <ul class="nav side-nav fixed lg:relative z-10 bottom-6 lg:bottom-0 left-6 lg:left-0 right-6 lg:right-0 flex-row lg:flex-column justify-center w-auto lg:w-full bg-white p-0 lg:p-4 rounded-lg shadow-dark">
    <li class="nav-item block text-center w-1/4 lg:w-full py-2 lg:py-4 px-2 border-b-0 lg:border-b border-solid border-gray">
      <jet-nav-link :href="route('dashboard')" :active="route().current('dashboard')">
        <i class="icon icon--dashboard w-6 md:w-8 lg:w-12 h-6 md:h-8 lg:h-12"></i>
        <h6>Dasbor</h6>
      </jet-nav-link>
    </li>
    <li class="nav-item block text-center w-1/4 lg:w-full py-2 lg:py-4 px-2 border-b-0 lg:border-b border-solid border-gray">
      <jet-nav-link :href="route('funding')" :active="route().current('funding')">
        <i class="icon icon--funding w-6 md:w-8 lg:w-12 h-6 md:h-8 lg:h-12"></i>
        <h6>Peluang <br />Pendanaan</h6>
      </jet-nav-link>
    </li>
    <li class="nav-item block text-center w-1/4 lg:w-full py-2 lg:py-4 px-2 border-b-0 lg:border-b border-solid border-gray">
      <jet-nav-link :href="route('portfolio')" :active="route().current('portfolio')">
        <i class="icon icon--portfolio w-6 md:w-8 lg:w-12 h-6 md:h-8 lg:h-12"></i>
        <h6>Portofolio</h6>
      </jet-nav-link>
    </li>
    <li class="nav-item block text-center w-1/4 lg:w-full py-2 lg:py-4 px-2 border-b-0 border-solid border-gray">
      <jet-nav-link :href="route('cashflow')" :active="route().current('cashflow')">
        <i class="icon icon--flow w-6 md:w-8 lg:w-12 h-6 md:h-8 lg:h-12"></i>
        <h6>Arus Kas</h6>
      </jet-nav-link>
    </li>
  </ul>
</template>

<script>
import JetNavLink from '@/Jetstream/NavLink';

export default {
  components: { 
    JetNavLink, 
  },
  methods: {
    switchToTeam(team) {
      this.$inertia.put(route('current-team.update'), {
        'team_id': team.id
      }, {
        preserveState: false
      })
    },
    logout() {
      this.$inertia.post(route('logout'));
    },
  },
}
</script>
