<template>
  <div>
    <v2-table 
      :data="portfolioData" 
      border 
      col-height="54" 
      cell-height="54" 
      height="auto" 
      :loading="loading" 
      :total="total" 
      :shown-pagination="false" 
      :pagination-info="paginationInfo" 
      @page-change="handlePageChange"
      @select-change="handleSelectChange"
    >
      <div slot="empty">Data Tidak Ditemukan!</div>
      <v2-table-column
        type="selection"
        width="45">
      </v2-table-column>
      <v2-table-column label="Nomor Perjanjian" prop="agreementNumber"></v2-table-column>
      <v2-table-column label="Tanggal Transaksi" prop="dateTransaction" width="100"></v2-table-column>
      <v2-table-column label="Nomor Pengajuan" prop="fillingNumber" width="150"></v2-table-column>
      <v2-table-column label="Nilai Pinjaman" prop="loanValue"></v2-table-column>
      <v2-table-column label="Periode Pinjaman" prop="loanPeriod" width="100"></v2-table-column>
      <v2-table-column label="Tujuan Pinjaman" prop="loanPurpose" width="120"></v2-table-column>
      <v2-table-column label="Total Biaya Pinjaman" prop="loanTotal"></v2-table-column>
      <v2-table-column label="Status" prop="status"></v2-table-column>
      <v2-table-column label="Pinjaman Persetujuan" prop="loanApproval" width="120" fixed="right">
        <template slot-scope="scope">
          <a :href="scope.row.date" class="table-download"><i class="icon icon--tiny icon--download mr-2"></i> Unduh<br />Kontrak</a>
        </template>
      </v2-table-column>
    </v2-table>
    <nav class="nav-wrapper" aria-label="Page navigation example">
      <ul class="pagination pagination-sm justify-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item"><a class="page-link" href="#">7</a></li>
        <li class="page-item"><a class="page-link" href="#">8</a></li>
        <li class="page-item"><a class="page-link" href="#">9</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
      <ul class="pagination pagination-arrows pagination-sm justify-between mt-4">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <i class="icon icon-arrow icon--prev mr-2"></i> Sebelumnya
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            Selanjutnya <i class="icon icon-arrow icon--next ml-2"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<style>
  .v2-table {
    border-radius: .5rem;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
  }
  .v2-table__pagination-box .pagination-text-info {
    z-index: 1000;
  }
  .v2-table__pagination .page:hover {
    border-color: #6C4FC9;
    color: #6C4FC9;
  }
  .v2-table__pagination ul .cur-page {
    border-color: #6C4FC9;
    background-color: #6C4FC9;
    color: #ffffff;
  }
  .v2-table__data-loading .circular {
    display: block;
    margin: 0 auto;
  }
  .v2-table__data-loading .path {
    stroke: #6C4FC9;
  }
</style>

<script>
export default {
  data () {
    return {
      currentPage: 1,
      total: 198,
      loading: false,
      paginationInfo: { 
        text: '<span>Total dari <strong>198</strong>, <strong>10</strong> per halaman</span>', 
        prevPageText: '<', 
        nextPageText: '>', 
      },
      portfolioData: [{
        agreementNumber: '13219238', 
        dateTransaction: '24.06.2021', 
        fillingNumber: '123123101', 
        loanValue: 'Rp 2.500.000', 
        loanPeriod: '3 Bulan', 
        loanPurpose: 'Usaha', 
        loanTotal: 'Rp 600.000', 
        status: 'Active', 
        loanApproval: 'Unduh Kontrak',
      }, {
        agreementNumber: '13219238', 
        dateTransaction: '24.06.2021', 
        fillingNumber: '123123102', 
        loanValue: 'Rp 2.500.000', 
        loanPeriod: '3 Bulan', 
        loanPurpose: 'Usaha', 
        loanTotal: 'Rp 600.000', 
        status: 'Active', 
        loanApproval: 'Unduh Kontrak',
      }, {
        agreementNumber: '13219238', 
        dateTransaction: '24.06.2021', 
        fillingNumber: '123123103', 
        loanValue: 'Rp 2.500.000', 
        loanPeriod: '3 Bulan', 
        loanPurpose: 'Usaha', 
        loanTotal: 'Rp 600.000', 
        status: 'Active', 
        loanApproval: 'Unduh Kontrak',
      }, {
        agreementNumber: '13219238', 
        dateTransaction: '24.06.2021', 
        fillingNumber: '123123104', 
        loanValue: 'Rp 2.500.000', 
        loanPeriod: '3 Bulan', 
        loanPurpose: 'Usaha', 
        loanTotal: 'Rp 600.000', 
        status: 'Active', 
        loanApproval: 'Unduh Kontrak',
      }, {
        agreementNumber: '13219238', 
        dateTransaction: '24.06.2021', 
        fillingNumber: '123123105', 
        loanValue: 'Rp 2.500.000', 
        loanPeriod: '3 Bulan', 
        loanPurpose: 'Usaha', 
        loanTotal: 'Rp 600.000', 
        status: 'Active', 
        loanApproval: 'Unduh Kontrak',
      }, {
        agreementNumber: '13219238', 
        dateTransaction: '24.06.2021', 
        fillingNumber: '123123106', 
        loanValue: 'Rp 2.500.000', 
        loanPeriod: '3 Bulan', 
        loanPurpose: 'Usaha', 
        loanTotal: 'Rp 600.000', 
        status: 'Active', 
        loanApproval: 'Unduh Kontrak',
      }, {
        agreementNumber: '13219238', 
        dateTransaction: '24.06.2021', 
        fillingNumber: '123123107', 
        loanValue: 'Rp 2.500.000', 
        loanPeriod: '3 Bulan', 
        loanPurpose: 'Usaha', 
        loanTotal: 'Rp 600.000', 
        status: 'Active', 
        loanApproval: 'Unduh Kontrak',
      }, {
        agreementNumber: '13219238', 
        dateTransaction: '24.06.2021', 
        fillingNumber: '123123108', 
        loanValue: 'Rp 2.500.000', 
        loanPeriod: '3 Bulan', 
        loanPurpose: 'Usaha', 
        loanTotal: 'Rp 600.000', 
        status: 'Active', 
        loanApproval: 'Unduh Kontrak',
      }, {
        agreementNumber: '13219238', 
        dateTransaction: '24.06.2021', 
        fillingNumber: '123123109', 
        loanValue: 'Rp 2.500.000', 
        loanPeriod: '3 Bulan', 
        loanPurpose: 'Usaha', 
        loanTotal: 'Rp 600.000', 
        status: 'Active', 
        loanApproval: 'Unduh Kontrak',
      }, {
        agreementNumber: '13219238', 
        dateTransaction: '24.06.2021', 
        fillingNumber: '123123110', 
        loanValue: 'Rp 2.500.000', 
        loanPeriod: '3 Bulan', 
        loanPurpose: 'Usaha', 
        loanTotal: 'Rp 600.000', 
        status: 'Active', 
        loanApproval: 'Unduh Kontrak',
      }],
    }
  },
  methods: {
    handlePageChange(page) {
      this.currentPage = page;
      this.loading = true;
      let start = (page - 1) * 10 + 1;
      const list = this.portfolioData.map(item => {
        return Object.assign({}, item, {
          fillingNumber: `1231231${start++}`
        });
      });
      setTimeout(() => {
        this.loading = false;
        this.portfolioData = [].concat(list);
      }, 2000);  
    },
    handleSelectChange (rows) {
      console.log(rows);
    }
  }
}
</script>