<template>
  <div>
    <v2-table 
      :data="portfolioData" 
      border 
      col-height="44" 
      cell-height="44" 
      height="auto" 
      :loading="loading" 
      :total="total" 
      :shown-pagination="true" 
      :pagination-info="paginationInfo" 
      @page-change="handlePageChange"
      @select-change="handleSelectChange"
    >
      <div slot="empty">Data Tidak Ditemukan!</div>
      <v2-table-column
        type="selection"
        width="45">
      </v2-table-column>
      <v2-table-column label="Nomor Pengajuan" prop="fillingNumber"></v2-table-column>
      <v2-table-column label="Tanggal Pengajuan" prop="fillingDate"></v2-table-column>
      <v2-table-column label="Nilai Pengajuan" prop="fillingValue"></v2-table-column>
      <v2-table-column label="Periode Pengajuan" prop="fillingPeriod"></v2-table-column>
      <v2-table-column label="Tujuan Pengajuan" prop="fillingPurpose"></v2-table-column>
    </v2-table>
    <!-- <nav class="nav-wrapper" aria-label="Page navigation example">
      <ul class="pagination pagination-sm justify-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item"><a class="page-link" href="#">7</a></li>
        <li class="page-item"><a class="page-link" href="#">8</a></li>
        <li class="page-item"><a class="page-link" href="#">9</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
      <ul class="pagination pagination-arrows pagination-sm justify-between mt-4">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <i class="icon icon-arrow icon--prev mr-2"></i> Sebelumnya
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            Selanjutnya <i class="icon icon-arrow icon--next ml-2"></i>
          </a>
        </li>
      </ul>
    </nav> -->
  </div>
</template>

<style>
  .v2-table {
    border-radius: .5rem;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
  }
  .v2-table__pagination-box {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .v2-table__pagination-box .pagination-text-info {
    z-index: 1000;
  }
  .v2-table__pagination .page:hover {
    border-color: #6C4FC9;
    color: #6C4FC9;
  }
  .v2-table__pagination ul .cur-page,
  .v2-table__pagination ul .cur-page:hover {
    border-color: #6C4FC9;
    background-color: #6C4FC9;
    color: #ffffff;
  }
  .v2-table__data-loading .circular {
    display: block;
    margin: 0 auto;
  }
  .v2-table__data-loading .path {
    stroke: #6C4FC9;
  }
</style>

<script>
export default {
  data () {
    return {
      currentPage: 1,
      total: 198,
      loading: false,
      paginationInfo: { 
        prevPageText: '<', 
        nextPageText: '>', 
      },
      portfolioData: [{ 
        fillingNumber: '123123101', 
        fillingDate: '24.06.2021', 
        fillingValue: 'Rp 2.500.000', 
        fillingPeriod: '3 Bulan', 
        fillingPurpose: 'Usaha', 
      }, {
        fillingNumber: '123123102', 
        fillingDate: '24.06.2021', 
        fillingValue: 'Rp 2.500.000', 
        fillingPeriod: '3 Bulan', 
        fillingPurpose: 'Usaha', 
      }, {
        fillingNumber: '123123103', 
        fillingDate: '24.06.2021', 
        fillingValue: 'Rp 2.500.000', 
        fillingPeriod: '3 Bulan', 
        fillingPurpose: 'Usaha', 
      }, {
        fillingNumber: '123123104', 
        fillingDate: '24.06.2021', 
        fillingValue: 'Rp 2.500.000', 
        fillingPeriod: '3 Bulan', 
        fillingPurpose: 'Usaha', 
      }, { 
        fillingNumber: '123123105', 
        fillingDate: '24.06.2021', 
        fillingValue: 'Rp 2.500.000', 
        fillingPeriod: '3 Bulan', 
        fillingPurpose: 'Usaha', 
      }, {
        fillingNumber: '123123106', 
        fillingDate: '24.06.2021', 
        fillingValue: 'Rp 2.500.000', 
        fillingPeriod: '3 Bulan', 
        fillingPurpose: 'Usaha', 
      }, {
        fillingNumber: '123123107', 
        fillingDate: '24.06.2021', 
        fillingValue: 'Rp 2.500.000', 
        fillingPeriod: '3 Bulan', 
        fillingPurpose: 'Usaha', 
      }, {
        fillingNumber: '123123108', 
        fillingDate: '24.06.2021', 
        fillingValue: 'Rp 2.500.000', 
        fillingPeriod: '3 Bulan', 
        fillingPurpose: 'Usaha', 
      }, {
        fillingNumber: '123123109', 
        fillingDate: '24.06.2021', 
        fillingValue: 'Rp 2.500.000', 
        fillingPeriod: '3 Bulan', 
        fillingPurpose: 'Usaha', 
      }, {
        fillingNumber: '123123110', 
        fillingDate: '24.06.2021', 
        fillingValue: 'Rp 2.500.000', 
        fillingPeriod: '3 Bulan', 
        fillingPurpose: 'Usaha', 
      }],
    }
  },
  methods: {
    handlePageChange(page) {
      this.currentPage = page;
      this.loading = true;
      let start = (page - 1) * 10 + 1;
      const list = this.portfolioData.map(item => {
        return Object.assign({}, item, {
          fillingNumber: `1231231${start++}`
        });
      });
      setTimeout(() => {
        this.loading = false;
        this.portfolioData = [].concat(list);
      }, 2000);  
    },
    handleSelectChange (rows) {
      console.log(rows);
    }
  }
}
</script>