<template>
  <div id="wrapper">
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a href="https://dfx-id.site/" class="navbar-brand mr-0">
            <img src="https://dfx-id.site/static/media/logo.85a22f4d.svg" alt="danafix" />
          </a>
          <div class="flex lg:hidden items-center">
            <div v-if="$page.props.user" class="mr-2 relative text-left inline-block lg:hidden">
              <jet-dropdown align="right" width="48">
                <template #trigger>
                  <button v-if="$page.props.jetstream.managesProfilePhotos" class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition">
                    <img class="h-8 w-8 rounded-full object-cover" :src="$page.props.user.profile_photo_url" :alt="$page.props.user.name" />
                  </button>
                  <span v-else class="inline-flex rounded-md">
                    <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:text-gray-700 focus:outline-none transition">
                      {{ $page.props.user.name }}
                      <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                      </svg>
                    </button>
                  </span>
                </template>
                <template #content>
                  <div class="block px-4 py-2 text-xs text-gray-400 opacity-60">
                    Manajemen Akun
                  </div>
                  <jet-dropdown-link :href="route('portfolio')">
                    Portofolio Saya
                  </jet-dropdown-link>
                  <jet-dropdown-link :href="route('funding')">
                    Pendanaan
                  </jet-dropdown-link>
                  <jet-dropdown-link :href="route('cashflow')">
                    Arus Kas
                  </jet-dropdown-link>
                  <div class="border-t border-gray-100 opacity-10"></div>
                  <form @submit.prevent="logout">
                    <jet-dropdown-link as="button">
                      Keluar
                    </jet-dropdown-link>
                  </form>
                </template>
              </jet-dropdown>
            </div>
            <button v-else type="button" class="btn btn-outlined ml-2 inline-block lg:hidden btn btn-secondary">Pinjam Lagi</button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="https://dfx-id.site/tentang-danafix">Tentang Danafix</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://dfx-id.site/pembayaran-pinjaman">Pembayaran Pinjaman</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://dfx-id.site/tanya-jawab">Tanya Jawab</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://dfx-id.site/hubungi-kami">Hubungi Kami</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://dfx-id.site/blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://dfx-id.site/keterbukaan-regulasi">Keterbukaan Regulasi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://dfx-id.site/kesulitan-membayar">Kesulitan Membayar</a>
              </li>
            </ul>
            <div v-if="$page.props.user" class="ml-1 relative text-left hidden lg:inline-block">
              <jet-dropdown align="right" width="48">
                <template #trigger>
                  <button v-if="$page.props.jetstream.managesProfilePhotos" class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition">
                    <img class="h-8 w-8 rounded-full object-cover" :src="$page.props.user.profile_photo_url" :alt="$page.props.user.name" />
                  </button>
                  <span v-else class="inline-flex rounded-md">
                    <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:text-gray-700 focus:outline-none transition">
                      {{ $page.props.user.name }}
                      <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                      </svg>
                    </button>
                  </span>
                </template>
                <template #content>
                  <div class="block px-4 py-2 text-xs text-gray-400 opacity-60">
                    Manajemen Akun
                  </div>
                  <jet-dropdown-link :href="route('portfolio')">
                    Portofolio Saya
                  </jet-dropdown-link>
                  <jet-dropdown-link :href="route('funding')">
                    Pendanaan
                  </jet-dropdown-link>
                  <jet-dropdown-link :href="route('cashflow')">
                    Arus Kas
                  </jet-dropdown-link>
                  <div class="border-t border-gray-100 opacity-10"></div>
                  <form @submit.prevent="logout">
                    <jet-dropdown-link as="button">
                      Keluar
                    </jet-dropdown-link>
                  </form>
                </template>
              </jet-dropdown>
            </div>
            <button v-else type="button" class="btn btn-outlined ml-2 hidden lg:inline-block btn btn-secondary">Pinjam Lagi</button>
          </div>
        </nav>
      </div>
    </header>
    <main class="pt-16 lg:pt-0">
      <slot></slot>
    </main>
    <footer>
      <div class="container">
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
          <div>
            <div class="text-left widget customer-service">
              <h6>Layanan Komponen</h6>
              <a href="https://m.facebook.com/messages/thread/1000639100099415/?force_thread_view=1" class="btn-outlined btn--messager btn btn-link" rel="noopener noreferrer" target="_blank">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M256.55 8C116.52 8 8 110.34 8 248.57c0 72.3 29.71 134.78 78.07 177.94 8.35 7.51 6.63 11.86 8.05 58.23A19.92 19.92 0 0 0 122 502.31c52.91-23.3 53.59-25.14 62.56-22.7C337.85 521.8 504 423.7 504 248.57 504 110.34 396.59 8 256.55 8zm149.24 185.13l-73 115.57a37.37 37.37 0 0 1-53.91 9.93l-58.08-43.47a15 15 0 0 0-18 0l-78.37 59.44c-10.46 7.93-24.16-4.6-17.11-15.67l73-115.57a37.36 37.36 0 0 1 53.91-9.93l58.06 43.46a15 15 0 0 0 18 0l78.41-59.38c10.44-7.98 24.14 4.54 17.09 15.62z"></path>
                </svg> Facebook Chat
              </a>
              <h2><a target="_blank" href="tel:14086">14086</a></h2>
              <p><span class="work-hours">Senin - Jumat, 09:00</span> <a href="mailto:info@danafix.id" class="mail-link" target="_blank">info@danafix.id</a></p>
            </div>
          </div>
          <div>
            <div class="text-left widget addresses">
              <h6>Alamat Kantor</h6>
              <p class="text-xs font-semibold">PT. Danafix Online Indonesia <br />Menara Dea, Tower 2, Lantai 2, Suite 202 <br />Kawasan Mega Kuningan <br />Jl Mega Kuningan Barat Kav E4.3 No 1-2. <br />Kuningan Timur, Setiabudi, Jakarta Selatan <br />DKI Jakarta 12950</p>
            </div>
          </div>
          <div>
            <div class="text-left widget follow-us">
              <h6>Ikuti Kami</h6>
              <div class="social-media">
                <a href="https://web.facebook.com/danafixid/" class="btn--facebook btn btn-outline-primary" rel="noopener noreferrer" target="_blank">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 320 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path>
                  </svg>
                </a>
                <a href="https://www.instagram.com/danafix_id" class="btn--instagram btn btn-outline-primary" rel="noopener noreferrer" target="_blank">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
                  </svg>
                </a>
              </div>
              <h6>DanaFix Mobile App</h6>
              <a href="https://go.onelink.me/app/1ebffedb" class="btn--playstore btn btn-outline-primary" rel="noopener noreferrer" target="_blank">
                <img src="https://dfx-id.site/static/media/google_play.996c01d9.png" alt="google play" />
              </a>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div>
            <div class="secureby">
              <div class="logo__item">
                <span>Anggota Dari</span>
                <img :src="'https://dfx-id.site/static/media/afpi.1445d662.png'" alt="afpi" />
              </div>
              <div class="logo__item">
                <span>Terdaftar &amp; Diawasi Oleh</span>
                <img :src="'https://dfx-id.site/static/media/ojk.437c819b.png'" alt="ojk" />
              </div>
              <div class="logo__item">
                <img :src="'https://dfx-id.site/static/media/tuv.0d18447e.png'" class="w-full" alt="tuv" />
              </div>
            </div>
            <small>DanaFix adalah perusahaan finansial teknologi, penyedia layanan pinjaman online, yang telah terdaftar dan diawasi oleh Otoritas Jasa Keuangan di Indonesia dengan nomor registrasi S-1111/NB.213/2018 atas nama PT. Danafix Online Indonesia, sesuai dengan Peraturan Otoritas Jasa Keuangan Nomor 77/POJK.01/2016 tentang Layanan Pinjam Meminjam Uang Berbasis Teknologi Informasi.</small>
          </div>
          <div>
            <ul class="list-disc">
              <li>Rate Tahunan (APR) termasuk semua komisi adalah 180% per tahun.</li>
              <li>INFORMASI UTAMA PRODUK PINJAMAN DANA TUNAI YANG ADA DI DanaFix: Kisaran pinjaman: 500.000 - 15.000.000; Periode pinjaman: 91 hari - 180 hari; Tingkat pinjaman: 15% bulan; Area jangkauan: mencakup seluruh wilayah Indonesia.</li>
              <li>Jika Anda ingin mengetahui bagaimana bunga pada produk pinjaman dihitung, berikut ini adalah contoh dari perhitungan pinjaman: Jika Anda meminjam 15% dari bunga pinjaman selama 3 bulan untuk meminjam IDR 500.000, maka Anda harus membayar IDR 500.000 * (1 + 15% * 3) = IDR 727.000</li>
            </ul>
          </div>
        </div>
        <div class="divider"></div>
        <div class="copyrights">
          <a href="https://dfx-id.site/" class="footer__logo">
            <img src="https://dfx-id.site/static/media/logo.85a22f4d.svg" alt="danafix" />
          </a>
          <div class="copyright-links">
            <a href="https://dfx-id.site/syarat-dan-ketentuan">Syarat &amp; Ketentuan</a>
            <a href="https://dfx-id.site/kebijakan-privasi">Kebijakan Privasi</a>
          </div>
        </div>
      </div>
    </footer>
    <portal-target name="modal" multiple></portal-target>
  </div>
</template>

<script>
  import JetApplicationMark from '@/Jetstream/ApplicationMark'
  import JetBanner from '@/Jetstream/Banner'
  import JetDropdown from '@/Jetstream/Dropdown'
  import JetDropdownLink from '@/Jetstream/DropdownLink'
  import JetNavLink from '@/Jetstream/NavLink'
  import JetResponsiveNavLink from '@/Jetstream/ResponsiveNavLink'

  export default {
    props: {
      canLogin: Boolean,
    },
    components: {
      JetApplicationMark,
      JetBanner,
      JetDropdown,
      JetDropdownLink,
      JetNavLink,
      JetResponsiveNavLink,
    },
    data() {
      return {
        showingNavigationDropdown: false,
      }
    },
    methods: {
      switchToTeam(team) {
        this.$inertia.put(route('current-team.update'), {
          'team_id': team.id
        }, {
          preserveState: false
        })
      },
      logout() {
        this.$inertia.post(route('logout'));
      },
    }
  }
</script>
