<template>
  <app-layout>
    <div id="register" class="section bg--color">
      <div class="container">
        <div class="relative w-full py-10 lg:py-16 px-8 lg:px-16 bg-white shadow-xl">
          <div class="grid grid-cols-12 gap-0 sm:gap-6">
            <div class="col-span-12 sm:col-span-6">
              <div class="flex flex-col justify-center max-w-sm mx-auto">
                <img :src="logoImg" class="max-w-full w-40 sm:w-60 mb-8 ml-auto mr-auto" alt="danafix" />
                <img :src="helloImg" class="w-full" alt="danafix" />
              </div>
            </div>
            <div class="col-span-12 sm:col-span-6 self-center">
              <div class="w-full mt-8 sm:mt-0">
                <h2 class="text-xl sm:text-2xl text-primary leading-snug mb-1"><b>Daftar Lender</b></h2>
                <p class="text-sm mb-6">Bergabunglah bersama kami dengan menjadi lender.</p>
                <jet-validation-errors class="mb-6" />
                <div v-if="status" class="mb-6 font-medium text-sm text-green-600">
                  {{ status }}
                </div>
                <form @submit.prevent="submit">
                  <div class="mb-6">
                    <jet-input id="name" type="text" class="mt-1 block w-full" v-model="form.name" placeholder="Nama Lengkap" required autofocus autocomplete="name" />
                  </div>
                  <div class="mb-6">
                    <jet-input id="email" type="email" class="mt-1 block w-full" v-model="form.email" placeholder="Alamat Email" required />
                  </div>
                  <div class="mb-6">
                    <jet-input id="password" type="password" class="mt-1 block w-full" v-model="form.password" placeholder="Kata Sandi" required autocomplete="new-password" />
                  </div>
                  <div class="mb-6">
                    <jet-input id="password_confirmation" type="password" class="mt-1 block w-full" v-model="form.password_confirmation" placeholder="Konfirmasi Kata Sandi" required autocomplete="new-password" />
                  </div>
                  <div class="mb-6" v-if="$page.props.jetstream.hasTermsAndPrivacyPolicyFeature">
                    <jet-label for="terms">
                      <div class="flex items-center">
                        <jet-checkbox name="terms" id="terms" v-model="form.terms" />
                        <div class="ml-2">
                          Saya menyetujui <a target="_blank" :href="route('terms.show')" class="underline text-sm text-gray-600 hover:text-gray-900">persyaratan layanan</a> dan <a target="_blank" :href="route('policy.show')" class="underline text-sm text-gray-600 hover:text-gray-900">kebijakan pribadi</a>
                        </div>
                      </div>
                    </jet-label>
                  </div>
                  <div class="flex items-center justify-between">
                    <inertia-link :href="route('login')" class="underline text-sm text-gray-600 hover:text-gray-900">
                      Sudah terdaftar?
                    </inertia-link>
                    <jet-button class="mt-4 py-4 w-full sm:w-auto justify-center flex items-center" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                      Daftar <svg width="22" height="22" class="ml-2 mt-0.5" enable-background="new 0 0 476.213 476.213" version="1.1" viewBox="0 0 476.21 476.21" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><polygon points="345.61 107.5 324.39 128.71 418.79 223.11 0 223.11 0 253.11 418.79 253.11 324.39 347.5 345.61 368.71 476.21 238.11" fill="#ffffff" /></svg>
                    </jet-button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout';
import JetAuthenticationCard from '@/Jetstream/AuthenticationCard';
import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo';
import JetButton from '@/Jetstream/Button';
import JetInput from '@/Jetstream/Input';
import JetCheckbox from '@/Jetstream/Checkbox';
import JetLabel from '@/Jetstream/Label';
import JetValidationErrors from '@/Jetstream/ValidationErrors';

export default {
  components: {
    AppLayout, 
    JetAuthenticationCard, 
    JetAuthenticationCardLogo, 
    JetButton, 
    JetInput, 
    JetCheckbox, 
    JetLabel, 
    JetValidationErrors, 
  },
  props: {
    canResetPassword: Boolean,
    status: String
  },
  data() {
    return {
      logoImg: '/images/logo.svg', 
      helloImg: '/images/illustrations/hello.svg', 
      form: this.$inertia.form({
        name: '',
        email: '',
        password: '',
        password_confirmation: '',
        terms: false,
      })
    }
  },
  methods: {
    submit() {
      this.form.post(this.route('register'), {
        onFinish: () => this.form.reset('password', 'password_confirmation'),
      })
    }
  }
}
</script>
